// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

//Useful color
$pink: #FFEEFB;
$light-yellow: #FFFBAC;
$dark-gray: #7E7E7E;
$super-pink: #F400B7;
$dark-blue: #02005B;
