<div class="row  my-3">
    <% @courses.sort_by(&:date).each do |course| %>
      <div class="card-course">
        <h3> <%= course.date.strftime("%A %d %B") %> à <%= course.date.time.strftime("%kh%M") %></h3>
          <p class="my-1"> <%= course.available_places%> places disponibles !</p>
          <div class="d-flex justify-content-center align-items-center">
          <p class="m-2" >Choisir :</p>

        </div>
      </div>
    <% end %>
    <div class="my-5 text-center">
      <%= link_to "Confirmer", "#", class: "button2" %>
    </div>
  </div>
