<div class="container my-3">
  <h1 class="text-center">Réserver un cours</h1>
   <h3 class="my-3 text-center">Les cours sont donnés en présentiel à l’adresse suivante : <strong>48 CHEMIN DE ROUFFIAC 31200 ROUFFIAC </strong>et durent <strong>50 minutes</strong>. </h3>
  <div>
    <%= render "form", reservation: @reservation  %>
</div>
