<p>Bonjour <%= @resource.email %>!</p>

<p>Vous avez demandé de réinitiliser votre mot de passe. Veuillez cliquer sur le lien ci-dessous :</p>

<p><%= link_to 'Réinitialiser mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si la demande ne vient pas de vous, ne pas tenir compte de cet email.</p>
<p>Votre mot de passe ne changera pas tant que le lien n'aura pas été cliqué.</p>
